absl-py==0.9.0
aiocontextvars==0.2.2
astor==0.8.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
colorama==0.4.3
contextvars==2.4
Flask==1.1.2
gast==0.3.3
grpcio==1.28.1
h5py==2.10.0
idna==2.9
immutables==0.14
importlib-metadata==1.6.0
itsdangerous==1.1.0
Jinja2==2.11.2
Keras==2.3.1
Keras-Applications==1.0.8
keras-bert==0.81.0
keras-embed-sim==0.7.0
keras-layer-normalization==0.14.0
keras-multi-head==0.22.0
keras-pos-embd==0.11.0
keras-position-wise-feed-forward==0.6.0
Keras-Preprocessing==1.1.1
keras-self-attention==0.41.0
keras-transformer==0.33.0
loguru==0.5.1
Markdown==3.2.2
MarkupSafe==1.1.1
mock==4.0.2
neo4j==4.0.0
numpy==1.18.4
pandas==1.0.3
protobuf==3.11.3
psycopg2==2.8.5
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
scipy==1.4.1
six==1.14.0
tensorboard==1.13.1
tensorflow==1.13.2
tensorflow-estimator==1.13.0
termcolor==1.1.0
urllib3==1.25.9
Werkzeug==1.0.1
win32-setctime==1.0.1
wincertstore==0.2
zipp==3.1.0
